@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Itim&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans+JP:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #11181C;
  --primary: #D0DDBF;
  --font-lato: "Lato", sans-serif;
  --font-figtree: "Figtree", sans-serif;
  --font-noto-sans-jp: "Noto Sans JP", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-itim: "Itim", cursive;
}

::selection {
  background-color: var(--primary);
  color: var(--foreground);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);

  /* Icon Colours */
  --color-react: #0A7EA5;
  --color-typescript: #3178C6;
  --color-javascript: #F7DF1D;
  --color-html: #E65127;
  --color-css: #0C73B8;
  --color-tailwind: #00BCFF;
  --color-sass: #BF4080;
  --color-aws: #EC7211;
  --color-supabase: #34B27B;
  --color-swr: #000000;
  

  /* Font */
  --font-basic: var(--font-roboto);
  --font-itim: var(--font-itim);
}

*,
*::before,
*::after {
 box-sizing: border-box;
}

html {
  box-sizing: border-box;
	font-size: 62.5%; /* 1rem = 10px */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-basic);
  font-size: 1.4rem;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    }
    } */